@import "../node_modules/bootstrap/scss/functions";

$primary: #ffcc00;
$secondary: #253550;
$success: #1ad13e;
$warning: #da622f;
$info: #fff;

@import "../node_modules/bootstrap/scss/variables";

$body-tertiary-bg:                  tint-color($secondary, 50%);

@import "../node_modules/bootstrap/scss/variables-dark";

$body-tertiary-bg-dark:             $secondary;

@import "../node_modules/bootstrap/scss/bootstrap";