rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin(uid) {
      return get(/databases/$(database)/documents/tutors/$(uid)).data.clearance == 'admin';
    }

    function isTutor(uid) {
      return get(/databases/$(database)/documents/tutors/$(uid)).data.clearance == 'tutor';
    }

    function resourceOwnedByUser(resourceOwner, uid) {
      return resourceOwner == uid;
    }

    match /tutors/{document} {
      allow read, write:
        if request.auth != null && isAdmin(request.auth.uid);
      allow read: if true;
      allow create:
      	if request.auth != null;
      allow update:
        if request.auth != null && isTutor(request.auth.uid) && resourceOwnedByUser(request.auth.uid, request.resource.data.uid);
    }

    match /students/{document} {
      allow read, write: if request.auth != null && isAdmin(request.auth.uid);
      allow read: if request.auth != null && isTutor(request.auth.uid);

      match /standards/{document} {
        allow read, write: if request.auth != null && isAdmin(request.auth.uid);
        allow read, write: if request.auth != null && isTutor(request.auth.uid);
      }
    }

    match /evaluations/{eval} {
      allow read, write: if request.auth != null && isAdmin(request.auth.uid);
      
      allow read, create: if request.auth != null && isTutor(request.auth.uid);
      allow update, delete:
        if request.auth != null && isTutor(request.auth.uid) && resourceOwnedByUser(resource.data.owner, request.auth.uid);
    
      match /tasks/{task} {
        allow read, write: if request.auth != null && isAdmin(request.auth.uid);
      
        allow read: if request.auth != null && isTutor(request.auth.uid);
        allow write:
          if request.auth != null && isTutor(request.auth.uid);
      }
    }

    match /standards/{standard} {
      allow read: if request.auth != null;
      allow update: if request.auth != null && isAdmin(request.auth.uid);
    }
    
    match /assessments/{assessment} {
      allow read, write: if request.auth != null && isAdmin(request.auth.uid);
      allow read: if request.auth != null && isTutor(request.auth.uid);
    }
    
    match /student_assessments/{assessment} {
      allow update, delete:
        if request.auth != null && isTutor(request.auth.uid) && resourceOwnedByUser(resource.data.issued_by, request.auth.uid);
      allow read, create: if request.auth != null && isTutor(request.auth.uid);
    	allow read, write: if request.auth != null && isAdmin(request.auth.uid);
    }

    match /grades/{grade} {
      allow read: if request.auth != null && (isAdmin(request.auth.uid) || isTutor(request.auth.uid));
      allow write: if request.auth != null && isAdmin(request.auth.uid);
      allow create, update: if request.auth != null && isTutor(request.auth.uid);
      allow delete: if request.auth != null && isTutor(request.auth.uid) && resourceOwnedByUser(resource.data.tutor_id, request.auth.uid);
    }

  }
}